<section class="container">
  <header>
    <div>
      <button cdkStepperPrevious class="back-btn">
        &larr;
      </button>
    </div>

    <div class="logo">
      <img src="/assets/images/logo.svg" alt="logo">
    </div>

    <div>
      <button *ngIf="selectedIndex > 0" (click)="sendMessage()" cdkStepperNext class="next-btn">
        &rarr;
      </button>
    </div>
  </header>

  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>

  <footer class="example-step-navigation-bar">
    <button class="example-nav-button" cdkStepperPrevious>&larr;</button>
    @for (step of steps; track step; let i = $index) {
      <button
        class="example-step"
        [class.example-active]="selectedIndex === i"
        (click)="selectStepByIndex(i)">Step {{ i + 1 }}
      </button>
    }
    <button class="example-nav-button" cdkStepperNext>&rarr;</button>
  </footer>
</section>
