
:host, cdk-step {
  height: 100%;
}

.step-container {
  height: calc(100vh - 120px);
  display: grid;
  grid-template-areas:
  "content"
  "validation";
  grid-template-rows: 5fr 2fr;
  grid-template-columns: 1fr;

  .step-content {
    grid-area: content;
  }

  .step-title {

    text-align: center;
    font-size: 2.2em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 80%;
    margin: 60px auto;
    margin-top: 20px;
    font-family: GothamNarrow;

    &.green {
      color: #72b74d;
    }

    &.white {
      color: white;
    }
  }

  .step-subtitle {
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 1.6em;
    font-family: GothamNarrow;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 40px;

    &.bigger {
      font-size: 1.8em;
    }
  }
}

.player-infos-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.group-name-title {

  text-align: center;
  font-size: 3.2em;
  text-transform: uppercase;
  max-width: 80%;
  margin: 20px auto;
  margin-bottom: 0;
  font-family: GothamNarrow, serif;
  font-weight: bold;

  &.green {
    color: #72b74d;
  }

  &.white {
    color: white;
  }
}

.error-text {
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 1.2em;
  font-family: GothamNarrow;
  font-style: italic;
  font-weight: 300;
}

.validation-container {
  grid-area: validation;
  display: flex;
  margin: auto;
  margin-top: 0;

  transition: margin-top 0.4s;
}

.label-container {
  margin-bottom: 24px;
}


.gamemode-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 90px;

  .gamemode {

    width: 400px;
    height: 260px;
    position: relative;
    cursor: pointer;
    border-radius: 32px;
    background-color: white;


    .info {
      position: absolute;
      left: 30px;
      top: -8px;
      width: 60px;
      cursor: pointer;

      img {
        width: 60px;
      }
    }

    .card-header {
      background-image: url("/assets/images/bg-traits.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 80%;
      border-radius: 26px 26px 0 0;
      overflow: hidden;

      &.normal {
        background-color: #f7b002;
        border: 6px solid #f7b002;
      }

      &.halloween {
        background-color: #141a26;
        border: 6px solid #141a26;
      }

      .center-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 90px;
        height: 90px;
      }
    }

    .card-footer {
      height: 20%;
      overflow: hidden;

      .card-footer-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #000000;
        background: white;
        border-radius: 0 0 26px 26px;
        text-align: center;
        font-size: 1.6em;
        font-family: GothamNarrow, sans-serif;
      }
    }

    &.selected {
      box-shadow: 20px 20px 20px 0 #00000066;

      .card-footer {

        .card-footer-title {
          background: #72b74d;
        }
      }

      .card-header {
        border: 6px solid #72b74d;
      }
    }
  }
}

.nb-player-label {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 2px solid #f7b002;

  color: white;
  font-size: 2.2em;
  font-family: GothamNarrow, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  &.selected {
    color: black;
    border-color: #72b74d;
    background: #72b74d;
    box-shadow: 10px 10px 20px 0 #00000066;
    animation: scale-bounce 0.3s ease-in-out;
  }

  &.not-selected {
    filter: grayscale(0.8);
  }
}

.player-age-label {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0;
  padding: 16px 24px;
  border: 2px solid #f7b002;

  color: white;
  font-size: 1.2em;
  font-family: GothamNarrow, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  &.selected {
    color: black;
    border-color: #72b74d;
    background: #72b74d;

    box-shadow: 10px 10px 20px 0 #00000066;
    animation: scale-bounce 0.3s ease-in-out;
  }

  &.not-selected {
    filter: grayscale(0.8);
  }

  &:first-child {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 16px 18px;
  }

  &:last-child {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 16px 18px;
  }
}

.player-gender-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;

  border-radius: 50%;
  height: 90px;
  width: 90px;
  border: 2px solid #f7b002;

  color: white;
  font-size: 1.2em;
  font-family: GothamNarrow, sans-serif;
  font-weight: bold;
  cursor: pointer;

  transition: transform 0.3s, box-shadow 0.3s;

  & svg {
    fill: white;
  }

  &.selected {
    color: black;
    border-color: #72b74d;
    background: #72b74d;
    box-shadow: 10px 10px 20px 0 #00000066;
    animation: scale-bounce 0.3s ease-in-out;

    & svg {
      fill: black;
    }
  }

  &.not-selected {
    filter: grayscale(0.8);
  }
}

.players-infos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .player-infos {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
  }

  .gender-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
}


.custom-text-input {
  animation-name: fadeInDown;
  display: block;
  width: 75%;
  height: 100%;
  background: transparent;
  border: none;
  color: #72b74d;
  font-size: 1.8em;
  font-family: GothamNarrow, sans-serif;
  text-align: center;
  padding: 16px 32px;
  border-bottom: 2px solid grey;
  text-transform: uppercase;
  outline: none;
  margin-top: 32px;
  margin-bottom: 32px;

  &::placeholder {
    text-transform: none;
    font-style: italic;
  }
}


.manage-nbTeams-container {
  margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  .nbTeams-value {
    display: inline-block;
    text-align: center;
    width: 100px;
    font-size: 5em;
    color: white;
    font-family: GothamNarrow, sans-serif;
    font-weight: bold;
  }

  .btn-update-nbTeams {
  }

  button {
    background: transparent;
    cursor: pointer;

    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #f7b002;
    box-shadow: 10px 10px 20px 0 #00000066;
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s;

    .icon {
      width: 60px;
    }

    &:active {
      border-color: #f78d02;
      box-shadow: none;
      transform: scale(0.9);
    }
  }
}


.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 1;
  content: '';
  display: block;
  border: 5px solid #ef7d00;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background: linear-gradient(0deg, #ffe500, #ef7d00);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #000000;
  font-family: GothamNarrow, sans-serif;
  font-weight: 900;
  font-size: 0.93em;
  text-transform: uppercase;
  text-align: center;
}


/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
