<section class="container">
  <header>
    <div class="btn-container back-container">
      <button class="back-btn" (click)="goBack()">
        <img src="./assets/icons/back.svg" alt="">
      </button>
    </div>

    <div class="logo">
      <img src="/assets/images/new_logo.svg" alt="logo">
    </div>

    <div class="btn-container next-container">
      <button (click)="customNext()"
              class="next-btn" [disabled]="shouldNextBtnBeDisabled()">
        <img src="./assets/icons/next.svg" alt="">
      </button>
    </div>
  </header>

  <div class="wizard-content-container" [ngTemplateOutlet]="selected ? selected.content : null"></div>

  <button class="cancel-btn" (click)="toggleCancelModal()">
    <img src="./assets/icons/cancel.svg" alt="">
  </button>

  <div class="modal" *ngIf="cancelModalVisibility">
    <!-- Modal content -->
    <div class="modal-container animate__animated animate__bounceInDown {{fadeOutModalClass}}">
      <div class="modal-content">
        <span (click)="toggleCancelModal()">
          <img class="icon info" src="./assets/icons/close_modal.svg" alt="">
        </span>

        <div class="modal-header">
          <p class="modal-title">
            {{ "cancel-current-modal-title" | translate }}
          </p>
        </div>

        <div class="flex-container">
          <button class="valid-btn no-margin white-btn modal-valid-btn"
                  (click)="returnToStart()">{{ "valid-btn" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
