<form-wizard (messageEvent)="receiveMessage($event)" [linear]="linearMode">
  <cdk-step [stepControl]="form">
    <form [formGroup]="form" (ngSubmit)="submitForm()"
          class="custom-form step-container
      animate__animated {{ firstAnimationClass }}">

      <div class="step-content" style="height: 580px">
        <h1 class="step-title">{{ "nb-team-in-group-title" | translate }}</h1>
        <p class="step-subtitle">{{ "2-5-players-per-team" | translate }}</p>

        <div class="manage-nbTeams-container">
          <div class="btn-update-nbTeams">
            <button (click)="minusOneTeam()" (touchstart)="startInterval('minus')" (touchend)="clearAddMinusInterval()"
            >
              <img class="icon minus" ngSrc="./assets/icons/minus.svg" width="60" height="60" alt="">
            </button>
          </div>
          <div>
            <span class="nbTeams-value animate__animated {{nbTeamsAnimationClass}}">
              {{ nbTeams }}
            </span>
          </div>
          <div class="btn-update-nbTeams">
            <button (click)="addOneTeam()" (touchstart)="startInterval('add')" (touchend)="clearAddMinusInterval()"
            >
              <img class="icon plus" ngSrc="./assets/icons/plus.svg" width="60" height="60" alt="">
            </button>
          </div>
        </div>

        <input type="number" hidden name="nbTeams" formControlName="nbTeams" required min="1" max="{{maxTeams}}">

        <div class="flex-container animate__animated" *ngIf="nbTeams > 1">
          <input class="custom-text-input animate__animated"
                 type="text" formControlName="groupName"
                 placeholder="{{'group-name-placeholder' | translate}}"
                 ngxTouchKeyboard
                 ngxTouchKeyboardFullScreen
                 inputmode='text'
                 #touchKeyboard="ngxTouchKeyboard"
                 (focus)="customToggleKeyboard(touchKeyboard)"
                 (blur)="customToggleKeyboard(touchKeyboard)"
          >

          <!--errors display for group name-->
          <div class="input-error">
            <p *ngIf="formErrors(form.get('groupName'))?.minlength"
               class="error-text animate__animated animate__headShake">
              {{ 'group-name-length-error' | translate }}
            </p>
            <p *ngIf="formErrors(form.get('groupName'))?.required"
               class="error-text animate__animated animate__headShake">
              {{ "group-name-required-error" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="validation-container {{ isKeyboardOpen ? 'animated-padding-for-keyboard' : '' }}">
        <button class="valid-btn" cdkStepperNext [disabled]="!this.form.valid">
          {{ "valid-btn" | translate }}
        </button>
      </div>
    </form>
  </cdk-step>

  <!--  choose nbPlayers for each team + teamName and email-->
  <div *ngFor="let team of teams; index as i">
    <cdk-step [stepControl]="teamDetailsForm">
      <form
        [formGroup]="teamDetailsForm" (ngSubmit)="submitTeamDetailsForm(team.id)"
        class="custom-form step-container animate__animated {{animationClass}}">
        <div class="step-content">
          <h1 class="group-name-title green">{{ form.value.groupName }}
          </h1>
          <h2 class="step-title">{{ "create-your" | translate }} <span class="ft-gotham-black">{{ team.id }}</span>
          </h2>

          <div class="flex-container">
            <div class="mb-big">
              <p class="step-subtitle">{{ "nb-players"| translate }}</p>

              <div class="flex-row label-container">
                <label
                  class="nb-player-label {{teamDetailsForm.value.nbPlayer == 2 ? 'selected' : (teamDetailsForm.value.nbPlayer ? 'not-selected' : '')}}"
                  for="nbPlayer2{{i}}">
                  2
                </label>
                <label
                  class="nb-player-label {{teamDetailsForm.value.nbPlayer == 3 ? 'selected' : (teamDetailsForm.value.nbPlayer ? 'not-selected' : '')}}"
                  for="nbPlayer3{{i}}">
                  3
                </label>
                <label
                  class="nb-player-label {{teamDetailsForm.value.nbPlayer == 4 ? 'selected' : (teamDetailsForm.value.nbPlayer ? 'not-selected' : '')}}"
                  for="nbPlayer4{{i}}">
                  4
                </label>
                <label
                  class="nb-player-label {{teamDetailsForm.value.nbPlayer == 5 ? 'selected' : (teamDetailsForm.value.nbPlayer ? 'not-selected' : '')}}"
                  for="nbPlayer5{{i}}">
                  5
                </label>
              </div>
            </div>

            <input id="nbPlayer2{{i}}" hidden name="nbPlayer" formControlName="nbPlayer" type="radio" value="2">
            <input id="nbPlayer3{{i}}" hidden name="nbPlayer" formControlName="nbPlayer" type="radio" value="3">
            <input id="nbPlayer4{{i}}" hidden name="nbPlayer" formControlName="nbPlayer" type="radio" value="4">
            <input id="nbPlayer5{{i}}" hidden name="nbPlayer" formControlName="nbPlayer" type="radio" value="5">

            <!--errors display for nb players-->
            <div class="input-error animate__animated animate__headShake">
              <p *ngIf="formErrors(teamDetailsForm.get('nbPlayer'))?.required"
                 class="error-text animate__animated animate__headShake">
                {{ "team-nb-player-required-error" | translate }}
              </p>
            </div>

            <input class="custom-text-input" type="text" formControlName="teamName"
                   placeholder="{{'team-name-placeholder' | translate}}"
                   required
                   ngxTouchKeyboard
                   ngxTouchKeyboardFullScreen
                   inputmode='text'
                   #touchKeyboard="ngxTouchKeyboard"
                   (focus)="customToggleKeyboard(touchKeyboard)"
                   (blur)="customToggleKeyboard(touchKeyboard)"
            >

            <!--errors display for team name-->
            <div class="input-error animate__animated animate__headShake">
              <p *ngIf="formErrors(teamDetailsForm.get('teamName'))?.minlength"
                 class="error-text animate__animated animate__headShake">
                {{ "team-name-length-error" | translate }}
              </p>
              <p *ngIf="formErrors(teamDetailsForm.get('teamName'))?.required"
                 class="error-text animate__animated animate__headShake">
                {{ "team-name-required-error" | translate }}
              </p>
            </div>

            <input class="custom-text-input" type="text" formControlName="teamEmail"
                   placeholder="{{'team-email-placeholder' | translate}}"
                   ngxTouchKeyboard
                   ngxTouchKeyboardFullScreen
                   inputmode='email'
                   #touchKeyboard2="ngxTouchKeyboard"
                   (focus)="customToggleKeyboard(touchKeyboard2)"
                   (blur)="customToggleKeyboard(touchKeyboard2)"
            >

            <!--errors display for team email-->
            <div class="input-error animate__animated animate__headShake">
              <p *ngIf="formErrors(teamDetailsForm.get('teamEmail'))?.email"
                 class="error-text animate__animated animate__headShake">
                {{ "team-email-invalid-error" | translate }}
              </p>
              <p *ngIf="formErrors(teamDetailsForm.get('teamEmail'))?.required"
                 class="error-text animate__animated animate__headShake">
                {{ "team-email-required-error" | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="validation-container {{isKeyboardOpen ? 'animated-padding-for-keyboard' : ''}}">
          <button class="valid-btn" cdkStepperNext [disabled]="teamDetailsForm.invalid">
            {{ "valid-btn" | translate }}
          </button>
        </div>
      </form>
    </cdk-step>

    <!--    get players infos-->
    <cdk-step>
      <form [formGroup]="playerInfosForm" (ngSubmit)="submitPlayerInfosForm(team.id)"
            class="custom-form step-container animate__animated {{animationClass}}">
        <div class="step-content">
          <h1 class="group-name-title green">{{ form.value.groupName }}
          </h1>
          <h2 class="step-title">{{ "provide-players-infos-title" | translate }}</h2>

          <div class="players-infos-container flex-wrap">
            <div class="player-infos" *ngFor="let player of team.players; index as j">
              <div class="flex-container">
                <p class="step-subtitle bigger bold">{{ "player" | translate }} {{ j + 1 }}</p>

                <div class="flex-row gender-container label-container flex-wrap">
                  <label
                    class="player-gender-label {{getPlayerInfosFormValue('genderplayer', (j+1)) == 'h'  ? 'selected' : (getPlayerInfosFormValue('genderplayer', (j+1)) ? 'not-selected' : '' )}}"
                    for="genderH{{j}}">
                    {{ "gender-male-label" | translate }}
                  </label>
                  <label
                    class="player-gender-label {{getPlayerInfosFormValue('genderplayer', (j+1)) == 'f'  ? 'selected' : (getPlayerInfosFormValue('genderplayer', (j+1)) ? 'not-selected' : '' )}}"
                    for="genderF{{j}}">
                    {{ "gender-female-label" | translate }}
                  </label>
                  <label
                    class="player-gender-label {{getPlayerInfosFormValue('genderplayer', (j+1)) == 'x'  ? 'selected' : (getPlayerInfosFormValue('genderplayer', (j+1)) ? 'not-selected' : '' )}}"
                    for="genderX{{j}}">
                    {{ "gender-other-label" | translate }}
                  </label>
                </div>

                <div class="label-container flex-justify-center">
                  <label
                    class="player-age-label {{getPlayerInfosFormValue('ageplayer', (j+1)) == '-11' ? 'selected' : (getPlayerInfosFormValue('ageplayer', (j+1)) ? 'not-selected' : '' )}}"
                    for="ageRange2{{j}}">
                    -11
                  </label>
                  <label
                    class="player-age-label {{getPlayerInfosFormValue('ageplayer', (j+1)) == '11-17'  ? 'selected' : (getPlayerInfosFormValue('ageplayer', (j+1)) ? 'not-selected' : '' )}}"
                    for="ageRange3{{j}}">
                    11-17
                  </label>
                  <label
                    class="player-age-label {{getPlayerInfosFormValue('ageplayer', (j+1)) ==  '18-25' ? 'selected' : (getPlayerInfosFormValue('ageplayer', (j+1)) ? 'not-selected' : '' )}}"
                    for="ageRange4{{j}}">
                    18-25
                  </label>
                  <label
                    class="player-age-label {{getPlayerInfosFormValue('ageplayer', (j+1)) == '25+'  ? 'selected' : (getPlayerInfosFormValue('ageplayer', (j+1)) ? 'not-selected' : '' )}}"
                    for="ageRange5{{j}}">
                    25+
                  </label>
                </div>

                <input (click)="uncheckPlayerGender('ageplayer' + (j+1), $event)" id="ageRange2{{j}}" hidden
                       formControlName="ageplayer{{j+1}}" type="radio" value="-11">
                <input (click)="uncheckPlayerGender('ageplayer' + (j+1), $event)" id="ageRange3{{j}}" hidden
                       formControlName="ageplayer{{j+1}}" type="radio" value="11-17">
                <input (click)="uncheckPlayerGender('ageplayer' + (j+1), $event)" id="ageRange4{{j}}" hidden
                       formControlName="ageplayer{{j+1}}" type="radio" value="18-25">
                <input (click)="uncheckPlayerGender('ageplayer' + (j+1), $event)" id="ageRange5{{j}}" hidden
                       formControlName="ageplayer{{j+1}}" type="radio" value="25+">

                <input (click)="uncheckPlayerGender('genderplayer' + (j+1), $event)" id="genderH{{j}}" hidden
                       formControlName="genderplayer{{j+1}}" type="radio" value="h">
                <input (click)="uncheckPlayerGender('genderplayer' + (j+1), $event)" id="genderF{{j}}" hidden
                       formControlName="genderplayer{{j+1}}" type="radio" value="f">
                <input (click)="uncheckPlayerGender('genderplayer' + (j+1), $event)" id="genderX{{j}}" hidden
                       formControlName="genderplayer{{j+1}}" type="radio" value="x">
              </div>
            </div>
          </div>
        </div>

        <div class="validation-container {{isKeyboardOpen ? 'animated-padding-for-keyboard' : ''}}">
          <button class="valid-btn" cdkStepperNext [disabled]="playerInfosForm.invalid">
            {{ "valid-btn" | translate }}
          </button>
        </div>
      </form>
    </cdk-step>


    <!--    scan team tag-->
    <cdk-step [stepControl]="scanTeamForm">
      <form [formGroup]="scanTeamForm" class="custom-form step-container animate__animated {{animationClass}}   ">
        <div class="step-content">
          <h1 class="group-name-title green">{{ form.value.groupName }}
          </h1>
          <h2 class="step-title"><span class="ft-gotham-black">{{ team.id }}</span> {{ teamDetailsForm.value.teamName }}
          </h2>

          <p class="step-subtitle">{{ "please-scan-device" | translate }}</p>

          <div class="flex-container">
            <ng-lottie
              [options]="options"
              width="500px"
              height="500px"
            />
          </div>

          <input type="text" hidden formControlName="scanned">
        </div>

        <div class="validation-container">
          <button class="valid-btn" (click)="submitScanTeamForm()">
            {{ "valid-btn" | translate }}
          </button>
        </div>
      </form>

      <div class="modal animate__animated animate__bounceInDown {{fadeOutModalClass}}" *ngIf="checkedModalVisibility">
        <div class="modal-container">
          <div class="modal-content modal-green">

            <div class="modal-header">
              <p class="group-name-title white">{{ form.value.groupName }}
              </p>
              <p class="modal-title m-b"
                 [innerHTML]="teamIsReadyTranslation(team.id, teamDetailsForm.value.teamName)"></p>

              <p *ngIf="!allTeamAreCompleted()"
                 class="modal-final-title italic">{{ "create-your-next-team" | translate }}</p>

              <div *ngIf="allTeamAreCompleted()">
                <p
                  class="modal-final-title"><span [innerHTML]="headToYourGameMasterTranslation()"></span></p>
              </div>
            </div>

            <button class="check-valid" cdkStepperNext (click)="toggleCheckedModal()">
              <img class="icon check" src="./assets/icons/check.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </cdk-step>
  </div>
</form-wizard>
