.logo {
  width: 300px;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.header {
  background: #141a26;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
