<div class="home">
  <div class="overlay"></div>
  <img class="home-background current-bg" ngSrc="{{currentBackgroundImage}}" priority alt="" height="693" width="1040">

  <div class="home-title-container animate__animated animate__fadeIn">
    <img class="home-logo" ngSrc="./assets/images/new_logo.svg" priority alt="" height="16" width="16">
    <h1 class="step-title">{{ "welcome" | translate }}</h1>


    <div class="animate__animated animate__fadeIn p-relative">
      <app-lang-selection [onSubmit]="start"></app-lang-selection>
        <div class="{{animationClass}} shadow-micro animate__animated animate__fadeIn">
        </div>
    </div>
  </div>
  <div class="animation-container" *ngIf="showAnimation">
    <ng-lottie
      [options]="options"
      width="500px"
      height="500px"
      (animationCreated)="animationCreated($event)"/>
  </div>
</div>

