<div class="home">
  <div class="overlay"></div>
  <img class="home-background" src="/assets/images/bg.jpg" alt="">

  <div class="home-title-container">
    <img class="home-logo" src="/assets/images/logo.svg" alt="">
    <h1>Interface borne d'inscription</h1>

    <div class="pulse">
      <span style="--i:0;"></span>
      <span style="--i:1;"></span>
      <span style="--i:2;"></span>
      <span style="--i:3;"></span>
      <p class="pulse-text">Click to continue</p>
    </div>
  </div>
</div>
