// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$GamesideBorne-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($GamesideBorne-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($GamesideBorne-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($GamesideBorne-theme);
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

:host {
  overflow: hidden;
}

html, body {
  overflow: hidden;
  touch-action: none; //prevent pitching, zooming and such
  -webkit-tap-highlight-color: transparent; /* remove tap highlight */
}

@font-face {
  font-family: 'GothamNarrow';
  src: url('/assets/fonts/GothamNarrow-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamNarrow';
  src: url('/assets/fonts/GothamNarrow-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GothamNarrow';
  src: url('/assets/fonts/GothamNarrow-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamNarrow';
  src: url('/assets/fonts/GothamNarrow-BookItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GothamNarrow';
  src: url('/assets/fonts/GothamNarrow-Book.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LeonSans';
  src: url('/assets/fonts/LeoSansBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EdoSZ';
  src: url('/assets/fonts/edosz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.ft-gotham {
  font-family: GothamNarrow, sans-serif;
}

.ft-gotham-black {
  font-family: GothamNarrow, sans-serif;
  font-weight: 900;
}

.ft-leoSans {
  font-family: LeonSans, sans-serif;
}

.valid-btn {
  margin-top: 90px;
  padding: 24px 120px;
  width: 300px;
  font-size: 1.8em;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  background: #72b74d;
  cursor: pointer;
  font-family: GothamNarrow, sans-serif;
  font-weight: normal;
  color: #141a26;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s;

  /* Ripple effect */
  &:active {
    background-color: #568c3a;
    transform: scale(0.9);
  }

  &.no-margin {
    margin-top: 0;
  }

  &.white-btn {
    background: white;
  }

  &:disabled {
    background: #141a26;
    color: #2f3347;
  }
}

.micro {
  top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #e38c12;
  border-radius: 50%;
  outline: 0;
  border: 0;
  cursor: pointer;

  img {
    transform: rotate(-15deg);
    width: 60px;
  }
}

.micro:before,
.micro:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 3px #e38c12;
  border-radius: 50%;
}

.micro:before {
  animation: ripple 2s linear infinite;
}

.micro:after {
  animation: ripple 2s 1s linear infinite;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

:root {
  --tk-color-text: #141a26 !important;
  --tk-background: rgba(255, 255, 255, 0) !important;
  --tk-background-button: rgba(255, 255, 255, 0.2) !important;
  --tk-background-button-fn: rgba(255, 255, 255, 0.2) !important;
  --tk-background-button-active: rgba(255, 255, 255, 0.6) !important;
}

.touch-keyboard {
  padding: 2rem;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);

  height: 100%;
  width: 100%;
  max-width: 100% !important;
  margin-bottom: 6rem;
}

.touch-keyboard-key {
  box-shadow: 0 0 20px rgba(255, 163, 44, 0.2) !important;
  backdrop-filter: blur(5.5px) !important;
  -webkit-backdrop-filter: blur(5.5px) !important;
}

.touch-keyboard .touch-keyboard-row {
  height: 22%;
}

.touch-keyboard .touch-keyboard-key {
  font-size: 21px !important;
}

.cancel-btn {
  position: absolute;
  top: 200px;
  right: 0;
  cursor: pointer;

  height: 50px;
  width: 60px;
  background: #b41f1f;

  outline: 0;
  border: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  z-index: 9;

  img {
    width: 18px;
    position: relative;
    left: -6px;
  }
}


.flex-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.flex-wrap {
  flex-wrap: wrap;
}


.edoSZ {
  font-family: "EdoSZ", sans-serif !important;
}


.modal {
  position: absolute;
  z-index: 10;
  top: 160px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
}

.modal-container {
  margin: 30% auto;
  width: 80%;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  .info {
    position: absolute;
    right: 30px;
    top: -8px;
    width: 60px;
    cursor: pointer;

    img {
      width: 60px;
    }
  }

  .modal-content {
    width: 100%;
    overflow: hidden;
    padding: 32px;
    border-radius: 32px;
    background: linear-gradient(90deg, #b41f1f, #e30613);

    .modal-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 32px 32px 0 0;
      min-height: 200px;

      &.with-border {
        border: 6px solid #b41f1f;
      }

      &.with-bg {
        background: url("/assets/images/bg-traits.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    &.modal-green {
      background: #72b74d;
    }

    .check-valid {
      position: absolute;
      bottom: -50px;
      border-radius: 50%;
      background: #72b74d;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      cursor: pointer;
      border: none;

      img {
        width: 60px;
      }
    }
  }


}

.modal-valid-btn {
  margin-bottom: 30px;
}

.modal-title {
  text-align: center;
  font-size: 2em;
  width: 80%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 60px;
  font-family: GothamNarrow, sans-serif;

  &.m-b {
    margin-bottom: 60px;
  }
}

.modal-final-title {
  text-align: center;
  font-size: 1.8em;
  color: #141a26;
  text-transform: uppercase;

  width: 80%;
  margin: auto;

  margin-bottom: 90px;
  font-family: GothamNarrow, sans-serif;

}


.modal-text {
  &.with-bg {
    background: url("/assets/images/bg-traits.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  line-height: 1.5em;
  text-align: center;
  font-size: 1.2em;
  width: 80%;
  color: #ffffff;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: GothamNarrow, sans-serif;
  font-weight: 300;
}

.modal-footer {
  text-align: center;
  background: white;
  padding: 20px 32px;

  p {
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: GothamNarrow, sans-serif;
  }
}


.flex-container, form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ngx-touch-keyboard {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-direction: alternate;
  padding: 2rem 1rem !important;
  box-shadow: none !important;
  backdrop-filter: none !important;
}

.touch-keyboard {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;

  animation-direction: alternate;

  //-webkit-animation-name: slideOutDown;
  //animation-name: slideOutDown;
}

.cdk-overlay-pane {
  transition: all 1s ease-in;
}

.step-container {
  transition: margin 0.4s;
  z-index: 1;
  position: relative;

  &.animated-padding-for-keyboard {
    margin-top: -100px !important;
  }
}

.mat-horizontal-stepper-header-container {
  display: none !important;
  height: 0 !important;
}

.logo {
  width: 320px;
  height: auto;

  img {
    width: 100%;
    height: auto;
    position: relative;
    top: 3px;
  }
}

header {
  background: #141a26;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 10;

  //for icons next and previous
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;

    img {
      width: 32px;
    }
  }

  .back-btn {
    width: 100%;
    height: 100%;
    background: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    position: relative;
    right: 6px;
    transition: transform 0.3s, box-shadow 0.3s;


    &:active {
      transform: scale(0.9);
    }
  }

  .next-btn {
    width: 100%;
    height: 100%;
    background: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    position: relative;
    left: 6px;
    transition: transform 0.3s, box-shadow 0.3s;

    &:active {
      transform: scale(0.9);
    }
  }
}


//forms
form .ng-invalid.ng-touched {
  border-bottom: 2px solid rgba(255, 103, 103, 0.73) !important;
}

//helpers
.p-relative {
  position: relative;
}

.mt {
  margin-top: 120px;
}

.mb {
  margin-bottom: 120px;
}

.flex-justify-center {
  justify-content: center;
}

//animations
.scale-up-bounce {
  animation: scale-up-bounce 0.5s ease-in;
}
.scale-down-bounce {
  animation: scale-down-bounce 0.5s ease-in;
}
@keyframes scale-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

@keyframes scale-up-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes scale-down-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
