<div class="lang-selection">
  <div class="lang-selection__content">
    <div class="lang-selector-container">
      <div class="select-locale" *ngFor="let locale of locales" (click)="selectLocale(locale)">
        <img class="locale-flag {{ selected === locale ? 'active' : selected != '' ? 'not-selected' : '' }}" src="/assets/images/flags/{{ locale }}.png"
             alt="">
      </div>
    </div>
    <div>
      <button (click)="onSubmit()" [disabled]="selected === ''" class="valid-btn">
        {{ "valid-btn" | translate }}
      </button>
    </div>
  </div>
</div>
