<app-header></app-header>

<div class="lang-selection">
  <div class="lang-selection__content">
    <div class="lang-selector-container">
      <div class="select-locale" *ngFor="let locale of locales" (click)="selectLocale(locale)">
        <img class="locale-flag {{ selected === locale ? 'active' : '' }}" src="/assets/images/flags/{{ locale }}.png"
             alt="">
      </div>
    </div>
    <div>
      <button (click)="goToFormWizard()" [disabled]="selected === ''" class="lang-selection-btn">
        {{ "Valider" | translate }}
      </button>
    </div>
  </div>
</div>
